.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Variant: video */
.columns.video .columns-img-col img {
  border-radius: var(--border-radius-sm);
  aspect-ratio: 16/9;
  object-fit: cover;
}

/* Variant: contact */
.columns.contact h2 {
  text-align: left;
}

.columns.contact a:any-link {
  color: var(--color-primary);
}

/* Variant: donate */
.columns.donate h3 {
  color: var(--color-primary);
}
