.accordion .accordion-list {
  margin: 0;
  max-width: 800px;
  margin-inline: auto;
}

.accordion dt {
  margin: 0;
}

.accordion .accordion-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius-sm);
  background: var(--color-light);
  font-size: var(--body-font-size-m);
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.2s ease;
}

.accordion .accordion-trigger:hover {
  background: rgb(230 34 0 / 10%);
}

.accordion .accordion-trigger::after {
  content: '\25B6';
  font-size: 12px;
  transition: transform 0.2s ease;
}

.accordion .accordion-trigger[aria-expanded='true']::after {
  transform: rotate(90deg);
}

.accordion .accordion-content {
  padding: 16px 24px;
  margin: 0;
  border: 1px solid var(--color-divider);
  border-top: none;
  border-radius: 0 0 var(--border-radius-sm) var(--border-radius-sm);
}
